<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Crear un chat nuevo | Solvetic.com</title>

	<link type="text/css" rel="stylesheet" href="css/estilos_chat.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="banner">

			<h1 class="textobanner">
				<a href="http://solvetic.com" id="logo">Solvetic.com</span></a>
			</h1>

	</header>

	<section>

		<div class="home">

			<div class="solvetic">
				<img src="img/solvetic.png" alt="solveticlogo" id="solveticlogo"/>
				<h2 id="chat">Curso creacion de chat con Node.js</h2>
			</div>

			<a title="crear" href="/crear" id="crear">
				<div id="botoncrear">
					<div id="texto_boton">Crear chat</div>
				</div>
			</a>
		</div>

	</section>

</body>
</html>